{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3 class="text-center">Zadania wykonane</h3>
        <table class="table table-striped" style="margin-top:50px;">
            <thead>
                <tr>
                    <th>Tytuł</th>
                    <th>Opis</th>
                    <th>Termin realizacji</th>
                    <th>Priorytet</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>
                            <h4>{{ task.name }}</h4>
                        </td>
                        <td>{{ task.description }}</td>
                        <td>
                            <h4>{{ task.realizationDate|date("d/m/Y") }}</h4>
                        </td>
                        <td>
                            <h4>{{ task.priority }}</h4>
                        </td>
                        <td>
                            <h4>{{ task.status }}</h4>
                        </td>
                        <td>
                            <a class="btn btn-primary" href="{{ path('task_edit', { 'id': task.id }) }}" role="button">Edytuj/Usuń</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="remember">
            <a href="{{ path('task_new') }}">Dodaj zadanie</a>
        </div>
    </div>
</div>
{% endblock %}
